@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    color:black;
    margin: 0;
}

ul li{
    text-decoration: none;
    list-style: none;
}

nav{
display: grid;
grid-template-columns: 2.5fr 1fr 1fr 1.4fr 0.8fr 1.3fr 0.5fr 0.5fr;
justify-content: space-around;
margin-top: 2%;
margin-left: 13%;
margin-right: 13%;
margin-bottom: 2%;
}

nav a{
    text-decoration: none;
    font-weight:bolder;
    font-size:130%;
    justify-self: center;
    align-content: center;
}

nav a:hover{
    color:#f7444e;
}

.logo{
    max-width:90%;
    height: auto;
}

/* -----------------------------------------------------index.html : DEBUT------------------------------------------------------------ */
.index{

    display: grid;
    grid-template-rows: 3fr;
}

.index-l1{
display:grid;
grid-template-rows: 2fr;
background-image: url('image/slider-bg.jpg');
background-size: cover;

}

.index-l1 h1{
    color: rgb(1, 0, 67);
    background-color: transparent;
    width: 25%;
    margin-top: 8%;
    margin-left: 10%;
    font-size: 300%;
}

.index-l1 p{
    width: 35%;
    color: rgb(19, 19, 19);
    background-color: transparent;
    text-align: justify;
    margin-top:1.5%;
    margin-left: 10%;
    font-size: large;
}

#index-submit{
    background-color:#f7444e;
    color: white;
    padding:1%;
    width: 10%;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    border: none;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom:10%;
    cursor: pointer;
}

.index-l2{
    display: grid;
    grid-template-rows: 2fr;
}

.index-l2 h1{
    margin-top: 5%;
    padding: 2%;
    text-align: center;
    box-sizing: border-box;
    margin-left: 35%;
    margin-right: 35%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
    margin-bottom: 7%;
}

.index-l2 h1:hover{
    border: 3.5px;
    border:#f7444e;
    border-bottom-style:groove;
    
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 5%;
    margin-left: 13%;
    margin-right: 13%;
    justify-content: space-between;
    gap:5%;
}

.box div{
    display: grid;
    grid-template-rows:3fr;
    background-color:rgb(2, 0, 132);
    justify-items: center;
    border-radius:5px;
    padding-top: 20%;
    padding-bottom:20%;
    cursor: pointer;
}

.index-l3{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-image: url('image/arrival-bg.png');
    background-size:cover;
}

.index-l3 h1{
    color: rgb(1, 0, 67);
    background-color: transparent;
    width:50%;
    margin-top: 20%;
    font-size: 300%;
}

.index-l3 p{
    width: 50%;
    color: rgb(19, 19, 19);
    background-color: transparent;
    text-align: justify;
    margin-top:1.5%;
    font-size: large;
}

#index-submit2{
    background-color:#f7444e;
    color: white;
    padding:2%;
    width: 20%;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    border: none;
    margin-top: 3%;
    margin-bottom:15%;
    cursor: pointer;
}


.index-l4{
    display: grid;
    grid-template-rows: 2fr;
    margin-top: 5%;
    margin-bottom: 5%;
}

.index-l4 h1{
    padding: 2%;
    text-align: center;
    box-sizing: border-box;
    margin-left: 35%;
    margin-right: 35%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
    margin-bottom:3%;
}

.index-l4 h1:hover{
    border: 3.5px;
    border:#f7444e;
    border-bottom-style:groove;
}

.grille{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 13%;
    margin-right: 13%;
}

.grille div{
    background-color: gainsboro;
    padding-top:6%;
    padding-bottom:6%;
}

.grille div a{
    display: grid;
    grid-template-rows: 2fr;
    justify-items: center;
    text-decoration: none;
}

.grille div a img{
    max-width:200px;
    height: 200px ;
}

.grille div a div{
    display: grid;
    grid-template-columns: 9fr 1fr;
    justify-content: space-between;
    margin-top: 2%;
}

.grille div a div h3{
    color:black;
}

.grille div a div h4{
    color:rgb(166, 162, 162);
}

#viewButton{
    background-color:#f7444e;
    color: white;
    padding:1%;
    width:18%;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.index-l5{
    display: grid;
    grid-template-columns:4fr;
    place-items: center;
}

.index-l5-l1{
    background-color: rgb(180, 180, 180);
    width:50%;
    display: grid;
    grid-template-rows: 3fr;
    margin-top: 2%;
    place-items: center;
    padding: 2%;
}

.index-l5 h1{
    color:rgb(9, 26, 70);
    font-family: 'Times New Roman', Times, serif;
    padding-top: 3%;
    padding-bottom: 2%;
}

.index-l5 p{
    color: rgb(68, 67, 67);
    padding-bottom: 2%;
}

.index-l5-l1 form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email_l5{
    margin-bottom: 5px;
    border-radius: 25px;
    border: none;
    height:50px;
    margin-bottom:5%;

}

.submit_l5{
    background-color:#f7444e;
    color: white;
    padding:1%;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top:5%;
    width: 20%;
    height: 35px;
}

.index-l5-l2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-l5-l2 h1:hover{
    border: 2px;
    border-bottom-color:#f7444e;
    border-bottom-style: groove;
}

.index-l5-l2 img{
    box-sizing: border-box;
    width: 10%;
    height: 10%;
    border-radius:100px;
    margin-top: 2%;
    margin-bottom: 1.5%;
}

.index-l5-l2 h4{
    margin-bottom: 0.8%;
}

.index-l5-l2 h5{
    color: gray;
    margin-bottom: 0.8%;
}

.index-l5-l2 p{
    text-align: center;
    width: 60%;
    color: black;
}

.foot{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    background-color: rgb(242, 238, 238);
    padding: 5%;
    gap:10px;
    margin-top: 2%;
}

.foot div{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.foot div img{
    max-width: 50%;
    height: auto;
    margin-bottom: 7%;
}

.foot div h2{
    margin-bottom:7%;
}

.foot div a, .foot div p{
    margin-bottom: 2%;
}

.foot div a:hover, .foot div p:hover{
    color:#f7444e;
    cursor: pointer;
}

.foot div form input[type="email"], .foot div form input[type="submit"]{
    border: none;
    padding: 3%;
    border-radius: 5px;
}

.foot div form input[type="submit"]{
    background-color:#f7444e;
    color: white;
    font-weight: bold;
    
}


/* -----------------------------------------------------index.html : FIN-------------------------------------------------------------- */

/*--------------------------------------------------details-produit : DEBUT------------------------------------------------------------*/

.detailsProd{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left:3%;
    margin-top: 7%;
}

.detailsProd-p1{
    display: flex;
    background-color: rgb(201, 198, 198);
    box-shadow: 5px 5px 3px 1px rgb(142, 141, 141);
    margin-left: 13%;
    margin-right: 5%;
    margin-bottom: 10%;
    align-items: center;   
}

.detailsProd-p1 img{
    padding:30px;
    box-sizing: border-box;
    max-width: 90%;
    height: auto;
    justify-self: center;
}

.detailsProd-p2{
    display: grid;
    grid-template-rows: 2fr;
}

.detailsProd-p2 div{
    display: block;
    justify-items: center;
}

.detailsProd-p2 div h2{
    margin-top: 20%;
}

.detailsProd-p2 div h3{
    margin-top: 3%;
    margin-bottom: 2%;
}

.detailsProd-p2 div h4{
    margin-top: 3%;
}

#ajouterPanier{
    background-color:#f7444e;
    color: white;
    padding:2%;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-bottom: 40%;
}

#retourListe{
        background-color:#f7444e;
        padding:2%;
        font-weight: bold;
        font-size: large;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-left: 30%;
        margin-bottom: 2%;
}

#retourListe a{
    text-decoration: none;
    color: white;
}


/*--------------------------------------------------details-produit : FIN------------------------------------------------------------*/


/*----------------------------------------------------------annonce : DEBUT------------------------------------------------------------*/

.annonce-titre{
    background-color:#f7444e;
    padding: 3%;
    text-align: center;
}

.annonce-titre h1{
    color: white;
}

#viewButton3{
    background-color:#f7444e;
    color: white;
    padding:1%;
    width:18%;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    border: none;
    margin-left: 40%;
    margin-bottom: 2%;
    cursor: pointer;
}

.annonce-foot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5%;
    background-color:rgb(15, 31, 67);
}


.annonce-foot1 div {
    color: white;
    gap: 20px;
}
.annonce-foot1 h1 {
    color: white; 
    margin-bottom: 20px; 
}
.annonce-foot1 img {
    width: 30px; 
    margin-right: 10px; 
}

.annonce-foot2{
    display: grid;
    grid-template-rows: 3fr;
    gap: 20px;
}

.annonce-foot2 h1,.annonce-foot2 p{
    color: white;
}

.annonce-foot2 div{
    display: flex;
    gap: 5px;
}

.annonce-foot2 div img{
    max-width:30px;
    height: 30px;
    border-radius: 50px;
}

.annonce-foot2 div img:hover{
    background-color: #f7444e;
}
/*----------------------------------------------------------annonce : FIN------------------------------------------------------------*/


footer{
    background-color: black;
    padding: 1%;
}

footer p{
    color: white;
    text-align: center;
}

/*------------------------------------------Blog---------------------------------------------*/

.blog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.blog div{
    display: grid;
    grid-template-rows:3fr;
    background-color:rgb(15, 31, 67);
    color: white;
    padding-top:20%;
    padding-bottom:20%;
    border-radius:10px;
    width: 80%;
    justify-items: center;
    cursor: pointer;

}

.blog div h3, .blog div p{
    color: white;
}

/*----------------------------------------------------------Blog : FIN---------------------------------------------------------------*/
.contact form {
    width:50%; 
    margin: 0 auto; 
    padding: 5%;
    
}

.contact form input[type="texte"],
.contact form input[type="email"],
.contact form input[type="submit"]{
    width: 100%; 
    padding:20px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 

}

.contact form input[type="submit"]{
    background-color:#545454; 
    color: white; 
    border: none; 
    cursor: pointer;
    font-weight: bold;
    width: 50%;
    
}

.contact input[type="submit"]:hover {
    background-color:#f7444e; 
}

